<header id="header">
  <h1>New snake</h1>
</header>

<section id="content">
  <section class="snakecage">
    <h2>input snake info</h2>
    <%= render 'form' %>
  </section>

  <nav>
    <ul>
      <li><%= link_to 'Back', snakes_path %></li>
    </ul>
  </nav>
</section>
