<header id="header">
  <h1>Editing trunk: <%= @trunk.snake.name %></h1>
</header>

<section id="content">
  <section class="snakecage">
    <h2>edit snake info</h2>
    <%= render 'form' %>
  </section>

  <nav>
    <ul>
      <li><%= link_to 'Show', @trunk.snake %></li>
      <li><%= link_to 'Back', edit_snake_path(@trunk.snake) %></li>
    </ul>
  </nav>

</section>
